<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bucaniere | Admin Panel</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <style>
    #notification {
      position: fixed;
      top: 20px;
      right: 20px;
      visibility: hidden;
      opacity: 0;
      transition: all 0.6s;
      z-index: 50;
    }
    .menu-list li .icon {
      vertical-align: text-top;
      margin-right: 0.5em;
    }

    tr:hover .table__actions {
      visibility: visible;
    }
    .table__actions {
      visibility: hidden;
      position: sticky;
      right: 0px;
      white-space: nowrap;
    }
    </style>
  </head>

  <body>
    <section class="section">
      <div class="container">
        <div class="columns">
          <div class="column is-one-third-tablet is-one-quarter-widescreen is-one-fifth-fullhd">
            <%- partial('./menu') %>
          </div>

          <div class="column is-two-thirds-tablet is-three-quarters-widescreen is-four-fifths-fullhd">
            <%- body %>
          </div>
        </div>

        <div id="notification" class="notification"></div>
      </div>
    </section>

    <script>
      const notification = document.querySelector('#notification')

      function notify (msg, success = true) {
        notification.innerText = msg
        notification.style.visibility = 'visible'
        notification.style.opacity = 0.85
        notification.className = 'notification ' + (success ? 'is-success' : 'is-danger')

        setTimeout(() => {
          notification.style.visibility = 'hidden'
          notification.style.opacity = 0
        }, 5000);
      }
    </script>
  </body>
</html>