<div class="columns is-multiline">
  <% widgets.forEach(widget => { %>
  <div class="column is-one-third-tablet">
    <div class="box">
      <h1 class="title"><%= widget.title %></h1>

      <div class="is-size-4 has-text-centered"><%= widget.content %></div>

      <div class="buttons is-right">
        <a class="button is-inverted is-primary" href="/admin/<%= widget.model %>">
          <span class="icon">
            <i class="material-icons">visibility</i>
          </span>
          <span>See all</span>
        </a>
      </div>
    </div>
  </div>
  <% }) %>
<div>