<div class="box">
  <div class="is-size-4">
    Log file <%= logfile %>
  </div>

  <pre id="log" style="overflow-y:auto;max-height:calc(100vh - 48px)"></pre>
</div>

<script src="//unpkg.com/ansi_up"></script>

<script>
const ansi_up = new AnsiUp
const logEl = document.getElementById('log')
let logLength = 0

const TIMEOUT_LIVE = 5000
const TIMEOUT_LONG = 10000

updateLog()

function updateLog () {
  fetch('/admin/logs/read', { method: 'HEAD' })
    .then(checkSize)
    .then(getLogFile)
    .catch(() => {
      // end of log file
      setTimeout(updateLog, TIMEOUT_LONG)
    })
}

function getLogFile () {
  const options = {
    headers: { 'Range': `bytes=${logLength}` }
  }

  fetch('/admin/logs/read', options)
    .then(response => {
      if (!response.ok) {
        throw Error(response.statusText)
      }

      logLength += parseInt(response.headers.get('Content-Length'))

      return response.text()
    })
    .then(log => {
      let html = ansi_up.ansi_to_html(log)
      // html = html.replace(/\n/g, '<br>')

      logEl.innerHTML += html
      logEl.scrollTop = logEl.scrollHeight

      setTimeout(updateLog, TIMEOUT_LIVE)
    })
    .catch(e => {
      console.warn('Error reading log')
      setTimeout(updateLog, TIMEOUT_LONG)
    })
}

function checkSize (response) {
  const totalSize = parseInt(response.headers.get('content-length'))

  if (totalSize <= logLength) {
    throw Error('End of file')
  }
}
</script>